<div class="container" style="margin-top: 10px">

        <div class="row">
            <hr/>
            <h1 class="text-center">Nuovo Post</h1>
            <hr/>
        </div>

        <form class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label>Titolo Post</label>
                <input type="text" class="form-control" placeholder="Titolo" ng-model="titolo">
            </div>
            <div class="form-group">
                <label>Scrivi Testo</label>
                <textarea class="form-control" rows="3" ng-model="descrizione"></textarea>
            </div>
            <div class="form-group">
                <label>Inserisci Data</label>
                <input type="datetime-local" ng-model="data">
            </div>
            <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="visibile"> Il post è visibile?
                </label>
              </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#anteprima">Anteprima</button>
            <button type="submit" class="btn btn-success" ng-click="insertNew()">Pubblica</button>
        </form>



        <div class="modal fade" id="anteprima" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Anteprima Post</h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel panel-default">
                            <h5 class="text-center">Scegli Categoria:</h5>
                            <select class="form-control">
                                <option>Sport</option>
                                <option>Cucina</option>
                                <option>Moda</option>
                                <option>Flora e Fauna</option>
                            </select>

                            <div class="panel panel-heading">
                                <h4>Titolo Post</h4>
                            </div>
                            <div class="panel panel-body">
                                <div class="col-md-2"><img class="img-responsive" src="http://via.placeholder.com/250x200"/></div>
                                <p class="col-md-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id justo in felis cursus accumsan. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam scelerisque cursus interdum. Nulla scelerisque imperdiet dui ac convallis. Nulla sollicitudin viverra purus, et semper ligula pharetra et. Nullam sagittis, nulla eu pretium interdum, diam velit vehicula diam, eget molestie arcu elit eu magna. In molestie vel ipsum a vehicula. Nulla varius vehicula mauris in sodales. Quisque ultrices dui libero, eget feugiat ex ultrices non. Nam accumsan quis sapien vel cursus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce in volutpat turpis. Nullam dapibus dapibus pulvinar. Sed non ligula rhoncus, porta dui ut, aliquam diam.</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>